doctype html
html
  head
    title spyglass
    link(rel='stylesheet', href='#{settings.baseUrl}/css/bower.css')
    link(rel='stylesheet', href='#{settings.baseUrl}/css/main.css')
    script.
      var baseUrl = !{JSON.stringify(settings.baseUrl)};    
  body
    block content
    script(src='#{settings.baseUrl}/js/bower.js')
    script(src='#{settings.baseUrl}/js/index.js')
